<section class="phx-hero row">
  <div class="column">
    <h2>New</h2>
    <button id="new-doc">Create Document</button>
  </div>

  <div class="column">
    <h2>Open Existing</h2>
    <form id="open-doc">
      <input name="id" type="text" placeholder="Document ID" required />
      <button type="submit">Open</button>
    </form>
  </div>
</section>
