/* This file is for your main application css. */
@import "./phoenix.css";


.phx-hero input {
  width: 150px;
}


#app-title {
  margin: 20px 0;
}

#editor {
  resize: none;
  height: calc(100vh - 250px);
  min-height: 200px;
  font-size: 22px;
  font-family: monospace;
  padding: 20px;
}

@media (max-width: 40.0rem) {
  .column:not(:last-child) {
    margin-bottom: 70px;
  }
}
